<link rel="stylesheet" type="text/css" href="/styles/ListThing.css">

<div class = box>
    <h1>Host Game</h1>
</div>

<div class="buttonContainer">
    <a href="/host/get-QR" download="tasks.pdf" id="downloadBtn">
        <div class="button" id="qrBtn">
            <h3 class = text1>
                QR-code
            </h3>
        </div>
    </a>
    
    <button class="button" id = "settingsBtn" onclick="requestOptions()">
        <h3 class = text1>
            Settings
        </h3>
        
    </button>
    
    <div class="settingsMenue" id="settingsMenue">
        <ul id="settingslist">
            <% for (const item in taskEnableJson.current) {%>
                <li>
                    <div class="settingsOption" id="<%=item%>">
                        <h3 class="text1">amount of <%=item%> tasks: </h3>
                        <img src="pictures/arrow.svg" alt="icon of a arrow" class="arrowIcon mirrored">
                        <span class="taskSpan">
                        <h3 class="text1 taskAmount"> <%=taskEnableJson.current[item] ? taskEnableJson.current[item] : "0"%> </h3>
                        </span>
                        <img src="pictures/arrow.svg" alt="icon of a arrow" class="arrowIcon">
                    </div>
                </li>
            <% } %>    
            <br>
            <% for (const item in taskEnableJson.enabled) {%>
                <li>
                    <div class="enableOption">
                        <h3 class="text1">Enable "<%=item%>"</h3>
                            <input type="checkbox" id="<%=item%>" <%= taskEnableJson.enabled[item] ? "checked" : "" %>>
                    </div>
                </li>
            <%} %>
        </ul>
    </div>

    <button class="button" id="startBtn" onclick="playGame()">
        <h3 class = text1>
            Start!
        </h3>
    </button>

    <a href="/">
        <span id="backButton" class="button" >
                    <h3 class="text1" id="backButtonText">
                        Back
                    </h3>
        </span>
    </a>


</div>

<script src="script/getOptions.js"> </script>
